# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode

latest.log
db.bin
apps.bin
temp.tar.gz

test-upload/
*/download-test/
download-test/

.classpath
.settings/